@use '@floaterest/color' as *
@use 'html' as *

@mixin darken-background($accent)
    background: rgba($accent, 0.10)

@mixin quote($accent)
    padding: 0 $pad
    +darken-background($accent)
    margin: 0
    border-left: $border-left solid $accent

@mixin framed($selector, $accent)
    &.#{$selector}
        +quote($accent)
        padding-top: 0
        strong
            color: $accent
        & > summary
            +darken-background($accent)
            white-space: nowrap
            padding: $pad * 0.5
            display: block
            margin-left: -$pad
            margin-right: -$pad

@mixin prefixed($selector, $accent)
    +framed($selector, $accent)
    &.#{$selector} > summary::before
        content: '#{$selector}. '
        text-transform: capitalize
        font-weight: bold
        color: $accent

blockquote
    +quote($yellow)

details
    overflow-x: auto
    overflow-y: hidden
    +prefixed(theorem, $teal)
    +prefixed(example, $orange)
    +prefixed(definition, $sky)
    +prefixed(algorithm, $pink)

    +framed('teal', $teal)
    +framed('orange', $orange)
    +framed('sky', $sky)
    +framed('pink', $pink)
    +framed('yellow', $yellow)

summary
    cursor: pointer
