---
import "../styles/app.sass";
import "@floaterest/iosevka/iosevka.css";
import favicon from "/favicon.svg";

const {
    content: { title },
} = Astro.props;

const katex = {
    rel: "stylesheet",
    crossorigin: "anonymous",
    href: "https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css",
};
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href={favicon} />
        <link {...katex} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
